<nav class="navbar">
  <div class="nav-container">
    <div class="nav-item logo">
      <span class="material-symbols-outlined">
        currency_exchange
      </span> 
      <span>Meu Financeiro</span>
    
    </div>
    <div class="nav-item center-links">

      <a href="#">Lançamentos</a>
      <a href="#">Categorias</a>
      <a href="#">Relatórios</a>
    </div>
    <div class="nav-item perfil">Perfil</div>
  </div>
</nav>

<main class="container">

  <router-outlet />

</main>

<div class="footer">
  <div class="footer-item"></div>
</div>